<div class="main-container">
    <div class="left">
        <p>Left</p>
    </div>
    <div class="center">
        <div class="table-wrapper">
            <table>
                <th>Name</th>
                <th>Job Title</th>
                <th>Department</th>
                <th>Age</th>
                <th>Country</th>
                <th>Status</th>
                <th>Action</th>
            <tr>
                <td>Jane Doe</td>
                <td>Cheif Executive Officer</td>
                <td>Executive</td>
                <td>42</td>
                <td>Kenya</td>
                <td>Active</td>
                <td><button>Show Details</button></td>
            </tr>

            <tr>
                <td>Jane Doe</td>
                <td>Cheif Executive Officer</td>
                <td>Executive</td>
                <td>42</td>
                <td>Kenya</td>
                <td>Active</td>
                <td><button>Show Details</button></td>
            </tr>

            <tr>
                <td>Jane Doe</td>
                <td>Cheif Executive Officer</td>
                <td>Executive</td>
                <td>42</td>
                <td>Kenya</td>
                <td>Active</td>
                <td><button>Show Details</button></td>
            </tr>

            <tr>
                <td>Jane Doe</td>
                <td>Cheif Executive Officer</td>
                <td>Executive</td>
                <td>42</td>
                <td>Kenya</td>
                <td>Active</td>
                <td><button>Show Details</button></td>
            </tr>

            <tr>
                <td>Jane Doe</td>
                <td>Cheif Executive Officer</td>
                <td>Executive</td>
                <td>42</td>
                <td>Kenya</td>
                <td>Active</td>
                <td><button>Show Details</button></td>
            </tr>
           
            </table>
        </div>
        
    </div>
    <div class="right">
        <p>Right</p>
    </div>
</div>
